<div class="tw-m-24-px">
  <div *ngIf="!showSearchResult" class="tw-mb-24-px tw-text-24-px"> Top {{ booksList.length }} book{{ booksList.length > 1 ? "s" : "" }} on {{ subjectName }}</div>

  <div class="table-container">
    <table class="table-view">
      <thead>
        <tr class="table-row">
          <th class="header">Title and Sub Title</th>
          <th class="header">Author</th>
          <th class="header">First Publish Year</th>
        </tr>
      </thead>
      <tbody class="table-body flex">
        <ng-container *ngIf="booksList && booksList.length > 0; else noItems">
          <tr *ngFor="let book of booksList | paginate: { itemsPerPage: 10, currentPage: p, totalItems: totalResults }" class="row-data">
            <td>
              <a class="tw-no-underline" href="https://openlibrary.org{{ book.key }}" target="_blank">{{ book.title }}</a>
            </td>
            <td *ngIf="!showSearchResult">
              {{ book.authors.length > 0 ? book.authors[0].name : "Unknown" }}
            </td>
            <td *ngIf="showSearchResult">
              {{ book.author_name ? book.author_name : "Unknown" }}
            </td>
            <td>{{ book.first_publish_year ? book.first_publish_year : "Unknown"}}</td>
          </tr>
        </ng-container>
        <ng-template #noItems>
          <tr>
            <td colspan="3" class="empty-table-message">
              <ng-container *ngIf="booksList">
                There are no items to display.
              </ng-container>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>

    <div class="paginator-container">
      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
  </div>
</div>
